<link rel="stylesheet" href="/css/home/audience.css" />
<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <!-- Nav -->
  <nav class="main-nav">
    <li><a href="/main">QRXpo</a></li>
    <ul class="main-menu">
      <li><a href="/Audience">고객</a></li>
      <li><a href="/Company">기업</a></li>
      <li><a href="/Admin">관리자</a></li>
    </ul>
  </nav>

<div class="side-nav">
  <ul>
    <li><a class="home" href="/Company">기업 정보</a></li>
    <li><a href="/Company_page">기업 정보 수정</a></li>
    <!-- <li><form method="post", action="/madeqr/<%= cpnid %>"> <input type="submit" value="qr코드 생성" id="btn">QR코드 확인</form></li> -->
  </ul>
</div>
  <!-- Xbox -->
  <section class="xbox">
    <div class="content">

      <% if(islogined){ %>
        <form method="post", action="/madeqr/<%= cpnid %>">
          <fieldset id="fieldset-sign-up">
            <legend>회사 정보</legend>
            <label>
              회사 이름 : <%= name %>
            </label>
            <label>
              회사 정보 : <%= intro %>
            </label>
            <label>
              회사 아이디 : <%= cpnid %>
            </label>
            <input type="submit" value="qr코드 확인" id="btn">
          </fieldset>
      <% } else{ %>
        <h3>company login 필요</h3>
      <% } %>
    </div>
  </section>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-inner">
    <ul>
      <li><a href="#">이용 약관</a></li>
      <li><a href="#">개인정보처리방침</a></li>
    </ul>
  </div>
  <div class="footer-inner">
    <ul>
      <li><a href="#">고객센터 00-0000-0000</a></li>
      <li><a href="#">주소 00-0000-0000</a></li>
      <li><a href="#">팩스 00-0000-0000</a></li>

      <li><a href="#">&copy; AisLAB</a></li>
    </ul>
  </div>
</footer>
