<link rel="stylesheet" href="/css/home/show.css" />
<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <!-- Nav -->
  <nav class="main-nav">
    <!-- <img src="https://i.ibb.co/wwLhz98/logo.png" alt="Microsoft" class="logo"> -->
    <li><a href="/">LOGO EXAMPLE</a></li>
    <ul class="main-menu">
      <li><a href="#">고객</a></li>
      <li><a href="#">기업</a></li>
      <li><a href="#">관리자</a></li>
    </ul>

  </nav>

  <!-- Xbox -->
  <section class="xbox">
    <div class="content">
      <h2>아이디 : <%= userid %> 의 소개.</h2>
      <h2>이름: <%= username %></h2>
      <h2>비밀번호: <%= userpsword %></h2>
      <h2>소속: <%= useraffil %></h2>
      <h2>나이: <%= userage %></h2>
    </div>
  </section>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-inner">
    <ul>
      <li><a href="#">이용 약관</a></li>
      <li><a href="#">개인정보처리방침</a></li>
    </ul>
  </div>
  <div class="footer-inner">
    <ul>
      <li><a href="#">고객센터 00-0000-0000</a></li>
      <li><a href="#">주소 00-0000-0000</a></li>
      <li><a href="#">팩스 00-0000-0000</a></li>

      <li><a href="#">&copy; AisLAB</a></li>
    </ul>
  </div>
</footer>