<link rel="stylesheet" href="/css/home/audience.css" />
<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <!-- Nav -->
  <nav class="main-nav">
    <li><a href="/main">QRXpo</a></li>
    <ul class="main-menu">
      <li><a href="/Audience">고객</a></li>
        <li><a href="/Company">기업</a></li>
        <li><a href="/Admin">관리자</a></li>
    </ul>
  </nav>

  <div class="side-nav">
    <ul>
      <li><a class="home" href="/Audience">내 정보</a></li>
      <li><a href="/mypage">내 정보 수정</a></li>
  
    </ul>
  </div>

  <!-- Xbox -->
  <section class="xbox">
      <div>
      <% if(islogined){ %>
        <form>
          <fieldset id="fieldset-sign-up">
            <legend>내 정보 수정</legend>
            <label>
              아이디
              <input id = "id" type="text" placeholder=<%= username %> />
            </label>
            <label>
              이름
              <input id = "name" type="text" placeholder=<%= userid %> />
            </label>
            <label>
              비밀번호
              <input id = "psword" type="password" placeholder=<%= psword %> /> 
            </label>
            <label>
              소속
              <input id = "affil" type="text" placeholder=<%= affil %> /> 
            </label>
            <label>
              나이
              <input id = "age" type="text" placeholder=<%= age %> /> 
            </label>
            <a class="btn">수정</a>
          </fieldset>
        <% } else{ %>
              <h3>login 필요</h3>
        <% } %>
      </div>
  </section>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-inner">
    <ul>
      <li><a href="#">이용 약관</a></li>
      <li><a href="#">개인정보처리방침</a></li>
    </ul>
  </div>
  <div class="footer-inner">
    <ul>
      <li><a href="#">고객센터 00-0000-0000</a></li>
      <li><a href="#">주소 00-0000-0000</a></li>
      <li><a href="#">팩스 00-0000-0000</a></li>

      <li><a href="#">&copy; AisLAB</a></li>
    </ul>
  </div>
</footer>